body {
	/*background: bisque;*/
	font-family: Segoe UI;
}

#main-content {
	text-align: center
}

.viz-container {
	width: 100%;
}

.svg-container {
	/*border: solid 1px black;*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.svg-container.faded { opacity: 0.5; }

.hidden { opacity: 0; }

.name-rect {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.surname-rect { fill: palegreen; }
.surname-rect.bar-selected { 
	fill: #89c673;
	stroke: black;
	stroke-width: 1;
}
#surname-pairing > line {
	stroke: red;
	stroke-width: 2;
}
#surname-pairing > text {
	/*font-family: Segoe UI;
	font-size: 12px;
	color: red;*/
}
.smooth-transition {
/*    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
}
#m-forename-pairing-line {
	stroke: #303071;
	stroke-width: 2;
}
#f-forename-pairing-line {
	stroke: #9a3131;
	stroke-width: 2;
}

.male-forename-rect { fill: lightblue; }
.male-forename-rect.bar-selected { 
	fill: #839ccc;
	stroke: black;
	stroke-width: 1;
}

.female-forename-rect { fill: lightpink; }
.female-forename-rect.bar-selected { 
	fill: #ea8292;
	stroke: black;
	stroke-width: 1;
}

.surname-text, .forename-text {
	font-family: Georgia;
	font-weight: bold;
}

.left-div, .right-div {
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}

.left-div { width: auto; }
.right-div { width: 30%; }

.name-input {
	padding: 5px;
	font-size: 14px;
	font-family: Segoe UI;
}

button {
	/*transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;*/
	border: solid 1px black;
	border-radius: 10px 10px 10px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 14px;
}
/*
button:hover {
	box-shadow: 0 0 40px 40px red inset;
}*/

#kr-name-title::before { content: "🇰🇷 "; }
#br-name-title::before { content: "🇧🇷 "; }

.wiki-link {
	color: grey;
}

.wiki-link:hover {
	text-decoration: underline;
	color: blue;
  	cursor: pointer;
}

button {
	width: 100%;
	text-align: center;
}

.div-left>img {
	width: 100%;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}